Builds/
Temp/
Library/
obj/

*.csproj
*.unityproj
*.sln
*.suo
*.userprefs

.DS_Store
.idea/

Assets/Demo/
Assets/Paroxe/Calendar/Documentation.pdf
Assets/Paroxe/Calendar/Documentation.pdf.meta
Assets/Paroxe/Calendar/Examples/
Assets/Paroxe/Calendar/Examples.meta
Assets/Demo.meta
Assets/Paroxe/QiyiPrefabs/Controller.meta
Assets/QiyiSettings/Mobile/IOS.meta
Assets/UI/Art.meta
Assets/Plugins/Editor
Assets/Plugins/Editor.meta

ProjectSettings/ProjectVersion.txt
.vscode/
.vs/
